body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", monospace;
}

.toggle {
    align-self: flex-end;
    border: none;
    background-color: transparent;
}


.container {
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 10px;
    background-color: #1c1c1c;
    padding: 30px;
    border-radius: 20px;
}

.calc-display {
    width: 415px;
    height: 100px;
    background-color: #5f6f2f;
    border-radius: 10px;
    overflow: scroll;
    display: flex;
    align-items: center;
}

i {
    color: black;
}

p {
    font-size: 30px;
    margin: 10px;
}

#equals, #allclear {
    background-color: orange;
}

.button-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.cell, .cellsp, .cellop {
    width:100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    border-radius: 15px;
}


#github i {
    color: #24292e;
    font-size: 45px;
}

button {
    border: none;
    cursor: pointer;
    font-size: 30px;
}

@media only screen and (max-width: 500px) {
    p {
        font-size: 20px;
    }
    .container {
        padding: 15px;
    }
    .calc-display {
        width: 295px;
        height: 70px;
    }
    .cell, .cellsp, .cellop {
        width: 70px;
        height: 70px;
    }
  }

.dark-mode {
    background-color: black;
}

.dark-mode .toggle i{
    color: gainsboro;
}

.dark-mode h1 {
    color: gainsboro;
}

.dark-mode .container {
    background-color: gainsboro;
}

.dark-mode .cell, .dark-mode .cellsp, .dark-mode .cellop{
    background-color: #1c1c1c;
    color: gainsboro;
}

.dark-mode #backspace i {
    color: gainsboro;
}

.dark-mode #allclear, .dark-mode #equals {
    color: #1c1c1c;
}

.dark-mode #github {
    background-color: #24292e;
}
.dark-mode #github i {
    color: gainsboro;
}