body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 10px;
    background-color: #1c1c1c;
    padding: 30px;
    border-radius: 20px;
}

.calc-display {
    width: 415px;
    height: 100px;
    background-color: #5f6f2f;
    border-radius: 10px;
    overflow: scroll;
    display: flex;
    align-items: center;
}

p {
    font-size: 30px;
    margin: 10px;
}

#equals, #allclear {
    background-color: orange;
}

.button-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.cell, .cellsp, .cellop {
    width:100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    border-radius: 15px;
}

button {
    border: none;
    cursor: pointer;
    font-size: 30px;
}

@media only screen and (max-width: 500px) {
    p {
        font-size: 20px;
    }
    .container {
        padding: 15px;
    }
    .calc-display {
        width: 295px;
        height: 70px;
    }
    .cell, .cellsp, .cellop {
        width: 70px;
        height: 70px;
    }
  }